<h1>Edit Snippet:</h1>
<%= form_for @snippet do |f| %>
    Title: <%= f.text_field :title, value: @snippet.title %><br>
    Language: <%= f.text_field :language, value: @snippet.language %>
    Snippet: <%= f.text_area :content, value: @snippet.content %>
    <%= f.submit 'Update Snippet' %>
<% end %>