<h1><%= @user.username %>'s Snippets:</h1>

<% @user.snippets.each do |s| %>
	<hr>
	<h2><%= link_to s.title, user_snippet_path(s.user.id,s.id) %> (<%= s.language %>)</h2>
	<h3>By: <%= link_to s.user.username, user_path(s.user) %></h3>
	<textarea disabled><%= s.content %></textarea>
<% end %>