<% @snippets.order("created_at DESC").each do |s| %>
	<div>
		<hr>
	    <h3><%= link_to s.title, snippet_path(s.id) %></h3>
		<h4>By: <%= link_to s.user.username, user_path(s.user) %> | <%= time_ago_in_words(s.created_at) %> ago</h4>
		<h5>Language: <%= language_modes.find {|language| language[:language_mode] == s.language}[:name] %></h5>
		<textarea disabled id="snippet-<%= s.id %>"><%= s.content %></textarea>
	</div>

    <script>
	    $(function(){
		    var textArea = document.getElementById('snippet-<%= s.id %>');
		    var myCodeMirror = CodeMirror.fromTextArea(textArea, {
			    lineNumbers: true,
			    theme: 'monokai',
			    lineWrapping: true,
			    readOnly: true,
			    mode: '<%= s.language %>'
		    });
	    })
    </script>

<% end %>


