<div class="snippet">
    <div class="row">
        <div class="col-md-3 hidden-xs hidden-sm user-posted">
            <div class="useravatar">
                <%= image_tag @snippet.user.gravatar_url %>
            </div>
            <small><%= time_ago_in_words(@snippet.created_at) %> ago</small>
            <div>Comments: <%= @snippet.comments.count %></div>
            <div>Likes: <%= @snippet.likes.count %></div>
        </div>
        <div class="col-md-9">
            <h1><%= link_to @snippet.title, snippet_path(@snippet.id) %> <small><%= language_modes.find {|language| language[:language_mode] == @snippet.language}[:name] %></small></h1>
            <textarea disabled id="snippet-<%= @snippet.id %>"><%= @snippet.content %></textarea>
            <% if logged_in? %>
                <% if current_user.id == @snippet.user.id %>
                    <a href="<%= edit_snippet_path(@snippet.id) %>" class="btn-sm btn-primary">Edit</a>
                <% else %>
                    <% if current_user.already_likes?(@snippet) %>
                        <%= link_to 'Unlike', {controller: 'likes', action: 'destroy', id: @snippet.id}, class: 'btn-sm btn-default' %>
                    <% else %>
                        <%= link_to 'Like', {controller: 'likes', action: 'create', id: @snippet.id}, class: 'btn-sm btn-success' %>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>

<div class="row leave-comment">
	<div class="col-md-3 row-title">
	    <h3>Leave a Comment</h3>
		(Markdown Supported! <i class="glyphicon glyphicon-thumbs-up ml-5"></i>)
	</div>
	<div class="col-md-7">
	    <% if logged_in? %>
	        <%= form_for(@comment, url: snippet_path(@snippet.id)) do |f|%>
	            <%= f.text_area :body %><br>
	            <%= f.submit 'Post Comment', class: 'btn btn-primary' %>
	        <% end %>
	    <% else %>
	        <%= link_to 'Create an account', new_user_path %> to leave comments.
	    <% end %>
	</div>
</div>

<div class="row previous-comments">
    <div class="col-md-3 row-title">
        <h3>Previous Comments</h3>
    </div>
</div>

<div class="comments">
    <% @snippet.comments.order("created_at DESC").each do |c| %>
        <div class="row comment">
			<div class="col-md-3 align-right">
			    <div class="commenter-avatar pull-right">
			        <a href="<%= user_path(c.user) %>"><%= image_tag c.user.gravatar_url %></a>
			    </div>
			    <div class="commenter-link"><%= link_to c.user.username, user_path(c.user) %></div>
				<small><%= time_ago_in_words(c.created_at) %> ago</small>
			</div>
			<div class="col-md-7">
	            <textarea class="comment-body" disabled><%= c.body %></textarea>
			</div>
	        <div class="col-md-2">
	            <% if current_user == c.user || current_user == @snippet.user %>
			        <a href="<%= delete_comment_path(c, :call_back_url => request.original_url) %>" class=""><i class="glyphicon glyphicon-remove"></i></a>
	            <% end %>
	        </div>
        </div>
    <% end %>
</div>

<script>
	$(function(){
		var myTextArea = document.getElementById('snippet-<%= @snippet.id %>');
		var myCodeMirror = CodeMirror.fromTextArea(myTextArea, {
			lineNumbers: true,
			theme: 'monokai',
			lineWrapping: true,
			readOnly: true,
			mode: '<%= @snippet.language %>'
		});

		$('.comment-body').each(function(i, val){
			var commentRender = CodeMirror.fromTextArea(val, {
				lineNumbers: true,
				lineWrapping: true,
				readOnly: true,
				mode: 'markdown'
			})
		});

		var newComment = document.getElementById('comment_body');
		var commentCodeMirror = CodeMirror.fromTextArea(newComment, {
			lineNumbers: true,
			lineWrapping: true,
			mode: 'markdown',
			theme: 'base16-light'
		});
	})
</script>