<h1><%= @snippet.title %></h1>
<div>by <%= @snippet.user.username %> | <%= time_ago_in_words(@snippet.created_at) %> ago</div>
<h2>Language: <%= language_modes.find {|language| language[:language_mode] == @snippet.language}[:name] %></h2>
<textarea disabled id="snippet"><%= @snippet.content %></textarea>
<% if logged_in? %>
    <% if current_user.id == @snippet.user.id %>
        <%= link_to 'Edit', edit_snippet_path %> | <%= link_to 'Delete', delete_snippet_path(@snippet.id) %>
    <% else %>
		<% if current_user.already_likes?(@snippet) %>
            <%= link_to 'Unlike', controller: 'likes', action: 'destroy', id: @snippet.id %>
        <% else %>
			<%= link_to 'Like', controller: 'likes', action: 'create', id: @snippet.id %>
		<% end %>
    <% end %>
<% end %>

<hr>
Likes: <%= @snippet.likes.count %><br>
Comments: <%= @snippet.comments.count %>

<% @snippet.comments.each do |c| %>
    <div class="comment">
        <hr>
        <h4>From: <%= c.user.username %></h4>
        <p>Comment: <%= c.body %></p>
    </div>
<% end %>


<%= form_for(@comment, url: snippet_path(@snippet.id)) do |f|%>
    Leave A Comment:<br>
    <%= f.text_area :body %><br>
    <%= f.submit 'Post Comment' %>
<% end %>

<script>
	$(function(){
		var myTextArea = document.getElementById('snippet');
		var myCodeMirror = CodeMirror.fromTextArea(myTextArea, {
			lineNumbers: true,
			theme: 'monokai',
			lineWrapping: true,
			readOnly: true,
			mode: '<%= @snippet.language %>'
		});
	})
</script>