<%= image_tag "default_avatar.jpg" %>

<h1><%= "#{@user.fname} #{@user.lname}"%></h1>
<h2><%= @user.username %></h2>
<h3>Snippets: <%= @user.snippets.count %></h3>
Session ID: <%= session[:user_id] %>|
User ID Param: <%= params[:id] %>
<% if session[:user_id] == @user.id%>
	<%= link_to 'Account Settings', edit_user_path %>
<% end %>

<% if @user.github_username %>
	<a href="http://github.com/<%= @user.github_username %>" target="_blank">Github</a>
<% end %>


<div class="snippets">
<% @user.snippets.order("created_at DESC").each do |s| %>
		<hr>
    <div class="snippet">
	    <h3><%= link_to s.title, snippet_path(s.id) %></h3>

	    <textarea disabled><%= s.title %></textarea>
        <%= link_to 'Edit', edit_snippet_path(s.id) %> | <%= link_to 'Delete', delete_snippet_path(s.id) %>
    </div>
<% end %>
</div>
