<!DOCTYPE html>
<html>
<head>
  <title>Lintup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<div style="text-align:right">
	    <% if logged_in? %>
	        <%= link_to 'Log Out', logout_path %>
	    <% else %>
	        <%= link_to 'Sign In', new_session_path %> | <%= link_to 'Create Account', new_user_url %>
	    <% end %>
	</div>
</header>
<%= yield %>

</body>
</html>
