<!DOCTYPE html>
<html>
<head>
  <title>Lintup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<%= link_to 'Home', root_path %>
	<div style="text-align:right">
	    <% if logged_in? %>
	        <%= link_to 'Add Snippet', new_snippet_path %> | <%= link_to 'Account Settings', "/users/#{current_user.id}/edit" %> | <%= link_to 'Log Out', logout_path %> | <%= link_to "#{current_user.fname} #{current_user.lname}", user_path(current_user) %>
	    <% else %>
	        <%= link_to 'Sign In', new_session_path %> | <%= link_to 'Create Account', new_user_url %>
	    <% end %>
	</div>
</header>
<%= yield %>

</body>
</html>
